# Data Cleaning

In [1]:
import pandas as pd

In [2]:
df_2015_raw = pd.read_csv('Resources/2015_raw.csv')
df_2016_raw = pd.read_csv('Resources/2016_raw.csv')
df_2017_raw = pd.read_csv('Resources/2017_raw.csv')
df_2018_raw = pd.read_csv('Resources/2018_raw.csv')
df_2019_raw = pd.read_csv('Resources/2019_raw.csv')

## 2015 Data

In [3]:
df_2015_raw.info()
df_2015_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
df_2015_raw = df_2015_raw[["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family", "Health (Life Expectancy)", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2015_raw["Year"] = "2015"
df_2015_raw = df_2015_raw.rename(columns={"Family":"Family/Social Support"})
df_2015 = df_2015_raw[["Country", "Year", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family/Social Support", "Health (Life Expectancy)", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2015

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family/Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,2015,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,2015,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,2015,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,2015,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,2015,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [5]:
df_2015.to_csv("Resources/2015.csv")

## 2016 Data

In [6]:
df_2016_raw.info()
df_2016_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [7]:
df_2016_raw = df_2016_raw[["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family", "Health (Life Expectancy)", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2016_raw["Year"] = "2016"
df_2016_raw = df_2016_raw.rename(columns={"Family":"Family/Social Support"})
df_2016 = df_2016_raw[["Country", "Year", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family/Social Support", "Health (Life Expectancy)", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2016

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family/Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,2016,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2016,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,2016,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,2016,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,2016,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...,...
152,Benin,2016,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,2016,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,2016,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,2016,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,2016,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [8]:
df_2016.to_csv("Resources/2016.csv")

## 2017 Data

In [9]:
df_2017_raw.info()
df_2017_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [10]:
df_2017_raw = df_2017_raw[["Country", "Happiness.Rank", "Happiness.Score", "Economy..GDP.per.Capita.", "Family", "Health..Life.Expectancy.", "Freedom", "Trust..Government.Corruption.", "Generosity"]]
df_2017_raw = df_2017_raw.rename(columns={"Happiness.Rank": "Happiness Rank", "Happiness.Score": "Happiness Score", "Economy..GDP.per.Capita.": "Economy (GDP per Capita)", "Family": "Family/Social Support", "Health..Life.Expectancy.": "Health (Life Expectancy)", "Freedom": "Freedom", "Generosity": "Generosity", "Trust..Government.Corruption.": "Trust (Government Corruption)"})
df_2017_raw["Year"] = "2017"
df_2017= df_2017_raw[["Country", "Year", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family/Social Support", "Health (Life Expectancy)", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2017

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family/Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Norway,2017,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,2017,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,2017,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,2017,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,2017,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,2017,151,3.471,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756
151,Syria,2017,152,3.462,0.777153,0.396103,0.500533,0.081539,0.151347,0.493664
152,Tanzania,2017,153,3.349,0.511136,1.041990,0.364509,0.390018,0.066035,0.354256
153,Burundi,2017,154,2.905,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435
154,Central African Republic,2017,155,2.693,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876

In [11]:
df_2017.to_csv("Resources/2017.csv")

## 2018 Data

In [12]:
df_2018_raw.info()
df_2018_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [14]:
df_2018_raw = df_2018_raw[["Country or region", "Overall rank", "Score", "GDP per capita", "Social support", "Healthy life expectancy", "Freedom to make life choices", "Perceptions of corruption", "Generosity"]]
df_2018_raw = df_2018_raw.rename(columns={"Country or region": "Country", "Overall rank": "Happiness Rank", "Score": "Happiness Score" , "GDP per capita": "Economy (GDP per Capita)", "Social support": "Family/Social Support", "Healthy life expectancy": "Health (Life Expectancy)", "Freedom to make life choices": "Freedom", "Perceptions of corruption": "Trust (Government Corruption)", "Generosity": "Generosity"})
df_2018_raw["Year"] = "2018"
df_2018= df_2018_raw[["Country", "Year", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family/Social Support", "Health (Life Expectancy)", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2018

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family/Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Finland,2018,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,Norway,2018,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,Denmark,2018,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,Iceland,2018,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,Switzerland,2018,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256
...,...,...,...,...,...,...,...,...,...,...
151,Yemen,2018,152,3.355,0.442,1.073,0.343,0.244,0.064,0.083
152,Tanzania,2018,153,3.303,0.455,0.991,0.381,0.481,0.097,0.270
153,South Sudan,2018,154,3.254,0.337,0.608,0.177,0.112,0.106,0.224
154,Central African Republic,2018,155,3.083,0.024,0.000,0.010,0.305,0.038,0.218
155,Burundi,2018,156,2.905,0.091,0.627,0.145,0.065,0.076,0.149

In [15]:
df_2018.to_csv("Resources/2018.csv")

## 2019 Data

In [17]:
df_2019_raw.info()
df_2019_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [18]:
df_2019_raw = df_2019_raw[["Country or region", "Overall rank", "Score", "GDP per capita", "Social support", "Healthy life expectancy", "Freedom to make life choices", "Perceptions of corruption", "Generosity"]]
df_2019_raw = df_2019_raw.rename(columns={"Country or region": "Country", "Overall rank": "Happiness Rank", "Score": "Happiness Score" , "GDP per capita": "Economy (GDP per Capita)", "Social support": "Family/Social Support", "Healthy life expectancy": "Health (Life Expectancy)", "Freedom to make life choices": "Freedom", "Perceptions of corruption": "Trust (Government Corruption)", "Generosity": "Generosity"})
df_2019_raw["Year"] = "2019"
df_2019= df_2019_raw[["Country", "Year", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family/Social Support", "Health (Life Expectancy)", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2019

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family/Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Finland,2019,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2019,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,2019,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,2019,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,2019,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,2019,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217
152,Tanzania,2019,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276
153,Afghanistan,2019,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158
154,Central African Republic,2019,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235
155,South Sudan,2019,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202

In [19]:
df_2019.to_csv("Resources/2018.csv")